  <div class="row mb-4">
    <div class="col">
      <div class="card text-bg-primary shadow-sm">
        <div class="card-header">
          Sites Monitorados
        </div>

        <div class="card-body">
          <p class="lh-1 mb-1 fs-3">
            <%= 2 %>
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-bg-info shadow-sm text-white">
        <div class="card-header">
          Sites em Tempo de Inatividade
        </div>

        <div class="card-body">
          <p class="lh-1 mb-1 fs-3">
            <%= 2 %>
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-bg-success shadow-sm">
        <div class="card-header">
          Tempo Médio de Resposta
        </div>

        <div class="card-body">
          <p class="lh-1 mb-1 fs-3">
            232 ms
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-bg-danger shadow-sm">
        <div class="card-header">
          Uptime Geral (%)
        </div>

        <div class="card-body">
          <p class="lh-1 mb-1 fs-3">
            0.5 %
          </p>
        </div>
      </div>
    </div>
  </div>
