<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= I18n.t('fields.new_site_title_page') %></h1>
    <p class="col-12"><%= render "form", site: @site %></p>
  </div>
</div>